<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312826340691-ttddg4ibp9fkmihrfsag70age43iiuev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312826340691-ttddg4ibp9fkmihrfsag70age43iiuev</string>
	<key>API_KEY</key>
	<string>AIzaSyA-tkRunrprjP-pouX26zpL-7Hh0qcwABw</string>
	<key>GCM_SENDER_ID</key>
	<string>312826340691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doomshell.DemoApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-76602</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-76602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312826340691:ios:e7a531199989e836b16da6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-76602.firebaseio.com</string>
</dict>
</plist>